



// =====================================
//        ALL TYPOGRAPHY MIXINS
//======================================
@mixin regular__typography {
    font-weight: 400;
    font-family: $primary__family;
}

@mixin medium__typography {
    font-weight: 500;
    font-family: $primary__family;
}

@mixin bold__typography {
    font-weight: 700;
    font-family: $primary__family;
}


//=====================================
//      TRANSITION BROWSER PREFIX
//======================================
@mixin cursor__transition {
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}


// =====================================
//         DISPLAY FLEX PROPERTY
//======================================
@mixin flex__center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin flex__start {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}


// =====================================
//      BACKGROUND IMAGE PROPERTY
//======================================
@mixin bg__property {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}